* {
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
}

.bg {
	background-image: url('../images/calc-bg1.jpeg');
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #dbb975;
}

@mixin respond-screen {
	@media screen and (max-width: 430px) {
		@content;
	}
}

.center {
	width: fit-content;
	margin: 60px auto;
}
.calc__body {
	width: 50%;
	min-width: 36.9rem;
	max-width: 39.9rem;

	background-color: rgb(63, 63, 63);
	border-radius: 0.5rem;
	padding: 1rem 0 3rem;
	position: relative;
	@include respond-screen {
		min-width: 33.4rem;
		width: 100%;
	}
}

.calc__screen {
	background-color: #ffffff;
	width: 78%;
	margin: 2rem auto;
	padding: 2rem;
	font-size: 3rem;
	text-align: right;
}

.calc__buttons {
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.calc__left {
	width: 80%;

	&__op {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem;
		margin-bottom: 1rem;
		@include respond-screen {
			gap: 0.2rem;
			margin-bottom: 0.2rem;
		}
	}
}

.calc__right {
	width: 21%;
	margin-left: 1rem;
	@include respond-screen {
		margin-left: 0.2rem;
	}
}
.buttn {
	background-color: rgb(192, 192, 192);
	cursor: pointer;
	padding: 2.5rem;
	font-size: 1.5rem;
	text-align: center;
}

.zero {
	flex: 3 1 auto;
}

.op,
.eq,
.orange {
	background-color: rgb(207, 99, 10);
	color: #ffffff;
}

.clear {
	background-color: rgb(207, 56, 10);
	color: #ffffff;
}

.calc__numbers {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(3, 1fr);

	& div:nth-child(10) {
		grid-column: 1/3;
	}
	@include respond-screen {
		gap: 0.2rem;
	}
}

.calc__op {
	display: grid;
	gap: 1rem;
	@include respond-screen {
		gap: 0.2rem;
	}
}
footer {
	margin: 0;
}
.credit {
	text-align: center;
	color: #ffffff;
	& a {
		color: #ffffff;
		&:hover {
			color: rgb(207, 56, 10);
		}
	}
}
